<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quroa posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter the username" name="username">
        <br><br>
        <textarea placeholder="write your post" name="content"></textarea>
        <br><br>
        <button>Submit Post</button>
        
    </form>
    
</body>
</html>